/* Import external fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set up custom fonts */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: rgba(51, 51, 51, 0.5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    transition: background-color 0.3s ease;
}

header.sticky {
    background-color: #333333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li a:hover::after {
    background-color: #ff8c00;
}

/* Hero Section */
.hero {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.hero img {
    position :absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: initial;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

.hero img:hover {
    transform: scale(1.03);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #ff8c00;
}

.hero-content p {
    font-size: 1.8rem;
    color: #ccc;
}

.tab {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 10px; /* Adjust spacing between tabs */
    margin-top: 20px;
}

.tab button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #888; /* Default color for tab buttons */
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid transparent; /* Bottom border to indicate active tab */
}

.tab button:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

.tab button.active {
    background-color: #fff; /* Change background color of active tab */
    color: #333; /* Change color of active tab */
    border-bottom: 2px solid #ff8c00; /* Highlight active tab with border */
}

.tabcontent {
    padding: 20px;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify;
    max-width: auto; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
}

.tabcontent.active {
    display: block;
}

/* Footer */
.footer {
    background: #1a1a1a;
    padding: 0.5rem; /* Reduced padding */
    margin-top: 20px;
}

.footer .box-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content:center;
}

.footer .box-container .box {
    padding: 0.5rem; /* Reduced padding */
    flex: 1 1 calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
}

.footer .box-container .box h3 {
    font-size: 1.2rem; /* Reduced font size */
    padding: 0.3rem 0; /* Reduced padding */
    color: #fff;
}

.footer .box-container .box p {
    font-size: 0.9rem; /* Reduced font size */
    padding: 0.3rem 0; /* Reduced padding */
    color: #ccc;
}

.footer .box-container .box p i {
    color: #ff8c00;
}

.footer .box-container .box a {
    display: block;
    font-size: 0.9rem; /* Reduced font size */
    padding: 0.3rem 0; /* Reduced padding */
    color: #ccc;
}

.footer .box-container .box a:hover {
    color: #ff8c00;
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    padding: 0.3rem 0; /* Reduced padding */
    margin-top: 0.5rem; /* Reduced margin top */
    font-size: 0.8rem; /* Reduced font size */
    font-weight: normal;
    color: #fff;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
    color: #ff8c00;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem;
    }
  
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-bar {
        display: initial;
    }
  
    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #333;
        border-top: .1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a {
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;    
        background: #222;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
  
    .heading span {
        font-size: 2.5rem;
    }
  
    .contact .row form .inputBox input {
        width: 100%;
    }
}
